# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Expo & Mobile
.expo/
frontend/.expo/
dist/
backend/dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
*.pem
Thumbs.db

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
frontend/ios
frontend/android
